@font-face {
  font-family: "Optima Cyr";
  src: url("../../fonts/optima-cyr.woff") format("woff");
}
.container-help {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.container {
  width: calc(1152px + 576 * ((100vw - 1280px) / (1920 - 1280)));
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  transition: all 0.5s ease-in-out;
  background-color: #4B3D3A;
  background-position: center;
  background-size: cover;
}
.background .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(74px + 22 * ((100vw - 1280px) / (1920 - 1280)));
  animation: opacity 2s;
}
.background .header a {
  font-size: 0;
}
.background .header .header-logo {
  width: calc(102px + 55 * ((100vw - 1280px) / (1920 - 1280)));
  height: auto;
}
.background .header .header-nav {
  display: flex;
}
.background .header .header-nav .header-nav_item {
  margin-right: calc(16px + 16 * ((100vw - 1280px) / (1920 - 1280)));
  font-weight: 400;
  list-style: none;
}
.background .header .header-nav .header-nav_item:last-child {
  margin-right: 0;
}
.background .header .header-nav .header-nav_item .nav-item_a {
  text-decoration: none;
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.background .header .header-nav .header-nav_item .nav-item_a:hover {
  color: #CC9268;
}
.background .header .header-contact-container {
  display: flex;
}
.background .header .header-contact-container .header-contact {
  display: flex;
  align-items: center;
}
.background .header .header-contact-container .header-contact .header-contact_nav {
  display: flex;
  justify-content: space-between;
  width: calc(88px + 40 * (100vw - 1280px) / 640);
  margin-right: calc(17px + 25 * (100vw - 1280px) / 640);
}
.background .header .header-contact-container .header-contact .header-contact_nav .contact-nav_a {
  line-height: 0;
}
.background .header .header-contact-container .header-contact .header-contact_nav .contact-nav_a .contact-nav_img {
  width: calc(22px + 8 * (100vw - 1280px) / 640);
}
.background .header .header-contact-container .header-contact .contact-number {
  text-decoration: none;
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.background .header .header-contact-container .header-contact .contact-number:hover {
  color: #CC9268;
}
.background .header .mobile-menu-btn {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  height: 18px;
  cursor: pointer;
}
.background .header .mobile-menu-btn .mobile-menu-burger {
  content: "";
  background-color: #FAF9F9;
  width: 12px;
  height: 2px;
}
.background .header .mobile-menu-btn .mobile-menu-burger:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FAF9F9;
  width: 20px;
  height: 2px;
}
.background .header .mobile-menu-btn .mobile-menu-burger:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FAF9F9;
  width: 20px;
  height: 2px;
}
.background .content {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.background .content .stepWork {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: rightSlide 1s;
}
.background .content .stepWork .stepWork-container {
  display: flex;
  align-items: center;
}
.background .content .stepWork .stepWork-img {
  padding: 15px;
  border-radius: 500%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  background-color: #FAF9F9;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.background .content .stepWork .stepWork-text {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  line-height: 21.6px;
  font-family: "Optima Cyr", sans-serif;
  margin-left: 12px;
  width: calc(116px + 33 * (100vw - 1280px) / 640);
  cursor: pointer;
}
.background .content .appartments {
  animation: leftSlide 1s;
}
.background .content .appartments .appartments-text {
  font-size: calc(52px + 12 * (100vw - 1280px) / 640);
  font-weight: 400;
  line-height: calc(62.4px + 14 * (100vw - 1280px) / 640);
  font-family: "Optima Cyr", sans-serif;
  margin-top: calc(126px + 85 * (100vw - 1280px) / 640);
  display: flex;
  flex-direction: column;
}
.background .content .choose {
  display: flex;
  position: relative;
  flex-direction: column;
  width: calc(350px + 60 * (100vw - 1280px) / 640);
  margin-top: calc(94px + 28 * (100vw - 1280px) / 640);
  left: calc(668px + 502 * (100vw - 1280px) / 640);
}
.background .content .choose .choose-container {
  width: 100%;
  animation: rightSlide 1s;
}
.background .content .choose .choose-container .choose-text {
  width: 410px;
  font-size: calc(20px + 4 * (100vw - 1280px) / 640);
  line-height: 33.6px;
}
.background .content .choose .choose-container .choose-link {
  display: flex;
  align-items: center;
  margin-top: calc(16px + 16 * ((100vw - 1280px) / (1920 - 1280)));
  line-height: calc(28px + 5.6 * (100vw - 1280px) / 640);
  cursor: pointer;
}
.background .content .choose .choose-container .choose-link:hover > .choose-link-img {
  background-color: #CC9268;
  border-color: #CC9268;
}
.background .content .choose .choose-container .choose-link .choose-link-img {
  padding: 23px 17px;
  border-radius: 500%;
  border: 6px solid rgba(0, 0, 0, 0.3);
  background-color: #FAF9F9;
  transition: all 0.1s ease-in-out;
}
.background .content .choose .choose-container .choose-link .choose-link-text {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  margin-left: 16px;
}
.background .down {
  position: absolute;
  height: 45px;
  bottom: calc(32px + 16 * ((100vw - 1280px) / (1920 - 1280)));
}
.background .down .arrowDown {
  display: flex;
  justify-content: center;
  width: 90vw;
  animation: opacity 1s;
}
.background .down .arrowDown .arrowDown-img {
  animation: topDown 2s infinite;
  cursor: pointer;
}
.background .down .slider-numbers {
  position: relative;
  width: 34px;
  bottom: calc(110px + 20 * ((100vw - 1280px) / (1920 - 1280)));
  animation: opacity 1s;
}
.background .down .slider-numbers .slider-numbers-container {
  position: relative;
  left: -34px;
  width: 88px;
  height: 34px;
  transform: rotate(-90deg);
}
.background .down .slider-numbers .slider-numbers-container .slider-number-span {
  font-family: "Optima Cyr", sans-serif;
  width: 200px;
  font-size: calc(18px + 6 * ((100vw - 1280px) / (1920 - 1280)));
}
.background .down .slider-pin {
  position: relative;
  width: 84px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 46px;
  animation: opacity 1s;
}
.background .down .slider-pin .slider-pin-item {
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: #FAF9F9;
  border-radius: 500%;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}
.background .down .slider-pin .slider-pin-item:hover {
  background-color: #E9E6E0;
}
.background .down .slider-pin .slider-pin-item_active {
  margin: -6px;
  border: 6px solid rgba(0, 0, 0, 0.3);
}

.info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: calc(152px + 32 * ((100vw - 1280px) / (1920 - 1280)));
  font-family: "Inter", sans-serif;
}
.info-block .info-block_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.info-block .info-block_container .info-first {
  width: calc(644px + 209 * ((100vw - 1280px) / (1920 - 1280)));
  margin-right: calc(115px + 196 * ((100vw - 1280px) / (1920 - 1280)));
}
.info-block .info-block_container .info-first .info-first_img {
  width: 100%;
}
.info-block .info-block_container .info-first .info-first_title {
  font-size: calc(40px + 12 * ((100vw - 1280px) / (1920 - 1280)));
  font-family: "Optima Cyr", sans-serif;
  width: 524px;
  margin-top: calc(115px + 196 * ((100vw - 1280px) / (1920 - 1280)));
  color: #412923;
}
.info-block .info-block_container .info-second {
  width: calc(360px + 203 * ((100vw - 1280px) / (1920 - 1280)));
}
.info-block .info-block_container .info-second .info-second_text {
  margin-bottom: calc(50px + 16 * ((100vw - 1280px) / (1920 - 1280)));
  font-size: calc(15px + 3 * ((100vw - 1280px) / (1920 - 1280)));
  line-height: calc(21px + 4 * ((100vw - 1280px) / (1920 - 1280)));
  color: #412923;
}
.info-block .info-block_container .info-second .info-second_img {
  width: 100%;
}

.seven-problems-block {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.seven-problems-block .seven-problems {
  margin-top: 60px;
  position: relative;
  width: calc(645px + 500 * (100vw - 1280px) / 640);
}
.seven-problems-block .seven-problems .right-block_seven {
  font-family: "Optima Cyr", sans-serif;
  color: #CC9268;
  font-size: calc(80px + 24 * (100vw - 1280px) / 640);
}
.seven-problems-block .seven-problems .right-block_title {
  font-family: "Optima Cyr", sans-serif;
  color: #412923;
  font-size: calc(40px + 12 * (100vw - 1280px) / 640);
  font-weight: 400;
  margin-bottom: calc(56px + 8 * (100vw - 1280px) / 640);
}
.seven-problems-block .slider-block {
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.seven-problems-block .slider-block .left-block {
  position: relative;
  width: calc(359px + 59 * (100vw - 1280px) / 640);
  height: calc(619px + 99 * (100vw - 1280px) / 640);
}
.seven-problems-block .slider-block .left-block .left-block_title {
  font-family: "Optima Cyr", sans-serif;
  color: #A19B8E;
  font-size: calc(24px + 6 * (100vw - 1280px) / 640);
  margin-bottom: 24px;
}
.seven-problems-block .slider-block .left-block .left-block_paragraph {
  color: #412923;
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
}
.seven-problems-block .slider-block .left-block .left-block-slider-count {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 30px;
  right: -20px;
}
.seven-problems-block .slider-block .left-block .left-block-slider-count .left-block-slider-count_text {
  font-family: "Optima Cyr", sans-serif;
  font-size: 30px;
  color: #A19B8E;
}
.seven-problems-block .slider-block .left-block .left-block-slider-buttons {
  position: absolute;
  bottom: 0;
}
.seven-problems-block .slider-block .left-block .left-block-slider-buttons .slider-btn {
  padding: 23px 18px;
  border: 1px solid #E9E6E0;
  border-radius: 500%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.seven-problems-block .slider-block .left-block .left-block-slider-buttons .slider-btn:hover {
  background-color: #CC9268;
}
.seven-problems-block .slider-block .left-block .left-block-slider-buttons .left-block-slider-buttons-left {
  transform: rotate(180deg);
  margin-right: 36px;
}
.seven-problems-block .slider-block .right-block {
  position: relative;
  overflow: hidden;
  width: calc(645px + 500 * (100vw - 1280px) / 640);
}
.seven-problems-block .slider-block .right-block .right-block-slider {
  position: absolute;
  width: 3933px;
  transition: all 0.5s ease-in-out;
}
.seven-problems-block .slider-block .right-block .right-block-slider .right-block-slider-item {
  position: relative;
  width: calc(360px + 57 * (100vw - 1280px) / 640);
  height: calc(619px + 99 * (100vw - 1280px) / 640);
  margin-right: 20px;
}

.developer {
  width: 100%;
  display: flex;
  align-items: center;
  margin: calc(152px + 32 * (100vw - 1280px) / 640) 0;
  font-family: "Inter", sans-serif;
}
.developer .developer-left {
  margin-right: calc(115px + 51 * (100vw - 1280px) / 640);
}
.developer .developer-left .developer-left_img {
  width: calc(360px + 57 * (100vw - 1280px) / 640);
  height: calc(360px + 57 * (100vw - 1280px) / 640);
}
.developer .developer-right {
  display: flex;
  width: 1000px;
  flex-direction: column;
}
.developer .developer-right .developer-right_title {
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(24px + 6 * (100vw - 1280px) / 640);
  margin-bottom: 32px;
  color: #412923;
}
.developer .developer-right .developer-right-info {
  display: flex;
}
.developer .developer-right .developer-right-info .developer-right-info-text {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #412923;
  width: 524px;
  margin-right: 20px;
}
.developer .developer-right .developer-right-info .developer-right-container {
  display: flex;
}
.developer .developer-right .developer-right-info .developer-right-container .developer-right-info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  margin-left: 45px;
}
.developer .developer-right .developer-right-info .developer-right-container .developer-right-info-item .developer-right-info-item_text {
  font-family: "Optima Cyr", sans-serif;
  margin-bottom: 8px;
  font-size: calc(24px + 6 * (100vw - 1280px) / 640);
  color: #412923;
}
.developer .developer-right .developer-right-info .developer-right-container .developer-right-info-item .developer-right-info-item_text .item_slash {
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(24px + 6 * (100vw - 1280px) / 640);
  color: #CC9268;
}
.developer .developer-right .developer-right-info .developer-right-container .developer-right-info-item .developer-right-info-item_down {
  margin-left: 18px;
  width: 200px;
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #412923;
}

.map-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../img/Map.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.map-background .map-top {
  position: relative;
  top: 80px;
}
.map-background .map-nav {
  width: 150px;
}
.map-background .map-nav .map-nav-item {
  list-style: none;
  margin-bottom: 16px;
  width: auto;
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  font-weight: 400;
  color: #FAF9F9;
  cursor: pointer;
}
.map-background .map-nav .map-nav-item:hover {
  color: #CC9268;
}
.map-background .map-bottom {
  position: absolute;
  bottom: 58px;
}
.map-background .map-bottom .map-bottom-title {
  display: flex;
  flex-direction: column;
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(32px + 16 * (100vw - 1280px) / 640);
  font-weight: 400;
  color: #FAF9F9;
}
.map-background .map-bottom .map-bottom-title .map-bottom-title_gold {
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(52px + 12 * (100vw - 1280px) / 640);
  color: #CC9268;
}

.news {
  width: 100%;
  margin: calc(158px + 28 * (100vw - 1280px) / 640) 0;
  font-family: "Inter", sans-serif;
}
.news .news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news .news-header .news-header-title {
  font-family: "Optima Cyr", sans-serif;
  font-weight: 400;
  font-size: calc(40px + 12 * (100vw - 1280px) / 640);
  color: #412923;
}
.news .news-header .news-header-tool {
  position: relative;
}
.news .news-header .news-header-tool .news-header-tool-buttons-left {
  transform: rotate(-180deg);
  margin-right: 36px;
  padding: 23px 18px;
  border: 1px solid #E9E6E0;
  border-radius: 500%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.news .news-header .news-header-tool .news-header-tool-buttons-left:hover {
  background-color: #CC9268;
}
.news .news-header .news-header-tool .news-header-tool-buttons-right {
  padding: 23px 18px;
  border: 1px solid #E9E6E0;
  border-radius: 500%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.news .news-header .news-header-tool .news-header-tool-buttons-right:hover {
  background-color: #CC9268;
}
.news .news-info-container {
  overflow-x: hidden;
}
.news .news-info-container .news-info {
  display: flex;
  position: relative;
  margin-top: calc(24px + 40 * (100vw - 1280px) / 640);
  width: 2708px;
  transition: all 0.3s ease-in-out;
}
.news .news-info-container .news-info .news-info-item {
  display: flex;
  flex-direction: column;
  padding: calc(40px + 8 * (100vw - 1280px) / 640) calc(24px + 16 * (100vw - 1280px) / 640);
  width: calc(320px + 160 * ((100vw - 1280px) / (1920 - 1280)));
  margin-right: 20px;
  height: 155px;
  border: 1px solid #E9E6E0;
  cursor: pointer;
}
.news .news-info-container .news-info .news-info-item:hover {
  border-color: #CC9268;
}
.news .news-info-container .news-info .news-info-item:last-child {
  margin-right: 0;
}
.news .news-info-container .news-info .news-info-item .news-info-time {
  font-size: calc(13px + 2 * (100vw - 1280px) / 640);
  font-weight: 400;
  margin-bottom: 24px;
  color: #A19B8E;
}
.news .news-info-container .news-info .news-info-item .news-info-item-title {
  font-family: "Optima Cyr", sans-serif;
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  font-weight: 400;
  margin-bottom: 8px;
  color: #CC9268;
}
.news .news-info-container .news-info .news-info-item .news-info-item-description {
  font-weight: 400;
  font-size: calc(13px + 2 * (100vw - 1280px) / 640);
  color: #412923;
}

.apartments {
  width: 100%;
  margin: 26px 0 calc(152px + 32 * (100vw - 1280px) / 640) 0;
  font-family: "Inter", sans-serif;
}
.apartments .apartments-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.apartments .apartments-header .apartments-header-title {
  font-size: calc(40px + 12 * (100vw - 1280px) / 640);
  color: #412923;
  font-weight: 400;
  font-family: "Optima Cyr", sans-serif;
}
.apartments .apartments-header .apartments-header-tool {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.apartments .apartments-header .apartments-header-tool:hover > .apartments-header-tool-buttons-right {
  background-color: #CC9268;
}
.apartments .apartments-header .apartments-header-tool .apartments-header-tool-buttons-right {
  padding: 23px 18px;
  border: 1px solid #E9E6E0;
  border-radius: 500%;
  transition: all 0.1s ease-in-out;
  margin-right: 16px;
}
.apartments .apartments-header .apartments-header-tool .apartments-header-tool-text {
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
  color: #412923;
  font-weight: 400;
  font-family: "Optima Cyr", sans-serif;
}
.apartments .apartments-info-container .apartments-info {
  display: flex;
  margin-top: calc(24px + 40 * (100vw - 1280px) / 640);
  flex-wrap: wrap;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(360px + 57 * (100vw - 1280px) / 640);
  border-bottom: 1px solid #E9E6E0;
  margin-right: 20px;
  cursor: pointer;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item:last-child {
  margin-right: 0;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(360px + 57 * (100vw - 1280px) / 640);
  height: calc(387px + 61 * (100vw - 1280px) / 640);
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-container-img .apartments-info-img {
  width: calc(213px + 34 * (100vw - 1280px) / 640);
  height: calc(290px + 47 * (100vw - 1280px) / 640);
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-container-img .apartments-info-img:hover {
  transform: scale(1.1);
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-price {
  font-size: calc(24px + 6 * (100vw - 1280px) / 640);
  color: #412923;
  font-weight: 400;
  margin-bottom: 8px;
  font-family: "Optima Cyr", sans-serif;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-apart {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #412923;
  margin-bottom: calc(24px + 8 * (100vw - 1280px) / 640);
  font-weight: 400;
}
.apartments .apartments-info-container .apartments-info .apartments-info-item .apartments-info-apart .apartments-info-apart_roof {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #A19B8E;
  font-weight: 400;
}

.footer {
  width: 100%;
  background-color: #412923;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.footer .footer-top {
  margin: calc(48px + 32 * (100vw - 1280px) / 640) 0 calc(64px + 24 * (100vw - 1280px) / 640) 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .footer-top-left-title {
  font-size: calc(40px + 12 * (100vw - 1280px) / 640);
  color: #E9E6E0;
  font-weight: 400;
  margin-bottom: calc(28px + 12 * (100vw - 1280px) / 640);
  font-family: "Optima Cyr", sans-serif;
}
.footer .footer-top .footer-top-left-btn {
  display: flex;
  width: calc(350px + 0 * (100vw - 1280px) / 640);
  align-items: center;
  cursor: pointer;
}
.footer .footer-top .footer-top-left-btn:hover > .footer-top-left-btn_img {
  background-color: #CC9268;
}
.footer .footer-top .footer-top-left-btn .footer-top-left-btn_img {
  padding: 17px;
  border-radius: 500%;
  margin-right: 16px;
  background-color: #FAF9F9;
  cursor: pointer;
}
.footer .footer-top .footer-top-left-btn .footer-top-left-btn_text {
  font-size: calc(18px + 6 * (100vw - 1280px) / 640);
}
.footer .footer-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer-top-right .footer-top-right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .footer-top-right .footer-top-right-container .footer-top-right-number {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #E9E6E0;
  margin-bottom: calc(16px + 8 * (100vw - 1280px) / 640);
  text-decoration: none;
  font-weight: 400;
}
.footer .footer-top-right .footer-top-right-container .footer-top-right-number:hover {
  color: #CC9268;
}
.footer .footer-top-right .footer-top-right-container .footer-top-right-site {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #E9E6E0;
  margin-bottom: calc(16px + 8 * (100vw - 1280px) / 640);
  text-decoration: none;
  font-weight: 400;
}
.footer .footer-top-right .footer-top-right-container .footer-top-right-site:hover {
  color: #CC9268;
}
.footer .footer-top-right .footer-top-right-contacts {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-top-right .footer-top-right-contacts .footer-top-right-contacts-item {
  margin-left: 19px;
  width: calc(21px + 7 * (100vw - 1280px) / 640);
  height: calc(21px + 7 * (100vw - 1280px) / 640);
  cursor: pointer;
}
.footer .footer-map {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px 0;
  border-top: 1px solid #4B3D3A;
  border-bottom: 1px solid #4B3D3A;
}
.footer .footer-map .footer-map-list {
  display: flex;
  list-style: none;
}
.footer .footer-map .footer-map-list .footer-map-list-item {
  margin-right: 32px;
}
.footer .footer-map .footer-map-list .footer-map-list-item a {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  text-decoration: none;
}
.footer .footer-map .footer-map-list .footer-map-list-item a:hover {
  color: #CC9268;
}
.footer .footer-map .footer-map-createEyeTronic {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  color: #A19B8E;
  font-weight: 400;
}
.footer .footer-map .footer-map-createEyeTronic .footer-map-createEyeTronic_style {
  font-size: calc(15px + 3 * (100vw - 1280px) / 640);
  cursor: pointer;
}
.footer .footer-map .footer-map-createEyeTronic .footer-map-createEyeTronic_style:hover {
  color: #CC9268;
}
.footer .footer-map-last-info {
  margin: calc(24px + 8 * (100vw - 1280px) / 640) 0;
}
.footer .footer-map-last-info .footer-map-last-info-text {
  font-size: calc(11px + 4 * (100vw - 1280px) / 640);
  color: #A19B8E;
  font-weight: 400;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #E9E6E0;
  opacity: 0;
  font-family: "Inter", sans-serif;
  z-index: 2;
  transition: opacity 2s ease-in-out;
  animation: opacity 0.5s ease-in-out;
}
.mobile-menu .mobule-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: calc(1152px + 576 * (100vw - 1280px) / 640);
}
.mobile-menu .mobule-menu-container .mobile-menu-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.mobile-menu .mobule-menu-container .mobile-menu-header .mobile-menu-container-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.mobile-menu .mobule-menu-container .mobile-menu-header .mobile-menu-container-close .mobile-menu-close {
  content: "";
  background-color: #412923;
  transform: rotate(45deg);
  width: 20px;
  height: 2px;
}
.mobile-menu .mobule-menu-container .mobile-menu-header .mobile-menu-container-close .mobile-menu-close:after {
  content: "";
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  right: 0;
  background-color: #412923;
  width: 20px;
  height: 2px;
}
.mobile-menu .mobule-menu-container .mobile-menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 430px;
}
.mobile-menu .mobule-menu-container .mobile-menu-nav .mobile-menu-nav_item {
  list-style: none;
}
.mobile-menu .mobule-menu-container .mobile-menu-nav .mobile-menu-nav_item .nav-item_a {
  color: #412923;
  font-size: 24px;
  font-family: "Optima Cyr", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.mobile-menu .mobule-menu-container .mobile-menu-nav .mobile-menu-nav_item .nav-item_a:hover {
  color: #CC9268;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-number {
  font-size: 18px;
  color: #412923;
  font-family: "Optima Cyr", sans-serif;
  text-decoration: none;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-number:hover {
  color: #CC9268;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-contact_nav {
  width: 118px;
  display: flex;
  justify-content: space-between;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-contact_nav .mobile-menu-contact-nav_a .mobile-menu-contact-nav_img {
  width: 28px;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-footer-top-right-site {
  font-size: 15px;
  text-decoration: none;
  color: #412923;
}
.mobile-menu .mobule-menu-container .mobile-menu-footer .mobile-menu-footer-top-right-site:hover {
  color: #CC9268;
}

@media screen and (max-width: 1919px) {
  .apartments-info {
    justify-content: space-between !important;
  }

  .apartments-info-item:last-child {
    display: none !important;
  }
}
@media screen and (max-width: 1780px) {
  .developer-right-info {
    flex-direction: column !important;
  }

  .developer-right-container {
    justify-content: space-between;
    width: 100% !important;
    margin-top: 24px !important;
    margin-left: 0 !important;
  }

  .developer-right-info-item {
    margin-left: 0 !important;
    margin-right: 16px !important;
  }
  .developer-right-info-item:last-child {
    margin-right: 0 !important;
    width: 150px !important;
  }

  .developer-right-info-text {
    width: auto !important;
  }

  .developer-right-info-item_down {
    width: 100% !important;
  }

  .developer-right {
    max-width: 900px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    margin-top: 12px !important;
  }

  .appartments-text {
    font-size: calc(40px + 12 * (100vw - 1024px) / 256) !important;
    margin-top: calc(109px + 17 * (100vw - 1024px) / 256) !important;
  }

  .choose-link-img {
    border: 0 !important;
  }

  .header-logo {
    width: calc(122px + -20 * (100vw - 1024px) / 256) !important;
  }

  .choose {
    left: calc(524px + 144 * (100vw - 1024px) / 256) !important;
  }

  .choose-link-text {
    font-size: 18px !important;
  }

  .contact-number {
    font-size: 15px !important;
    margin-right: 40px !important;
  }

  .header-contact_nav {
    width: 88px !important;
  }

  .header-nav {
    display: none !important;
  }

  .mobile-menu-btn {
    display: flex !important;
  }

  .info-first {
    width: calc(547px + 97 * (100vw - 1024px) / 256) !important;
  }

  .info-second {
    width: calc(291px + 69 * (100vw - 1024px) / 256) !important;
  }

  .developer-right_title {
    font-size: 24px !important;
  }

  .developer-right-info-text {
    font-size: 15px !important;
    margin-right: 0 !important;
  }

  .developer-right-info-item_text {
    font-size: 24px !important;
  }

  .item_slash {
    font-size: 24px !important;
  }

  .developer-right-info-item_down {
    font-size: 15px !important;
  }

  .info-first_title {
    line-height: 48px !important;
    font-size: 40px !important;
  }

  .developer-left_img {
    width: calc(291px + 69 * (100vw - 1024px) / 256) !important;
    height: calc(291px + 69 * (100vw - 1024px) / 256) !important;
  }

  .footer-map-list-item {
    margin-right: calc(16px + 16 * (100vw - 1024px) / 256) !important;
  }
  .footer-map-list-item a {
    font-size: 15px !important;
  }

  .header-contact_nav {
    margin-right: calc(33px + -16 * (100vw - 1024px) / 256) !important;
  }

  .contact-nav_img {
    width: 22px !important;
  }

  .slider-number-span {
    font-size: 18px !important;
  }

  .slider-numbers {
    bottom: 110px !important;
  }

  .news-info {
    margin-top: 24px !important;
  }

  .news-info-item {
    padding: 40px 24px !important;
  }
  .news-info-item:last-child {
    display: none !important;
  }

  .news-header-title {
    font-size: 40px !important;
  }

  .news-info-time {
    font-size: 13px !important;
  }

  .news-info-item-title {
    font-size: 18px !important;
  }

  .news-info-item-description {
    font-size: 13px !important;
  }

  .apartments-info {
    margin-top: 24px !important;
  }

  .apartments-header-title {
    font-size: 40px !important;
  }

  .apartments-header-tool-text {
    font-size: 18px !important;
  }

  .apartments-info-item {
    margin-right: 0 !important;
    width: calc(291px + 69 * (100vw - 1024px) / 256) !important;
  }

  .apartments-info-container-img {
    width: calc(291px + 69 * (100vw - 1024px) / 256) !important;
    height: 387px !important;
  }

  .apartments {
    margin: 26px 0 calc(124px + 28 * (100vw - 1024px) / 256) 0;
  }

  .footer-top-left-title {
    font-size: 40px !important;
  }

  .footer-top-left-btn_text {
    font-size: 18px !important;
  }

  .info-block {
    margin-top: calc(136px + 16 * ((100vw - 1024px) / (1280 - 1024))) !important;
  }

  .footer-top-right-number,
.footer-top-right-site {
    font-size: 15px !important;
    margin-bottom: 16px !important;
  }

  .footer-top-right-contacts-item {
    width: 22px !important;
    height: 22px !important;
  }

  .footer-top {
    margin: 48px 0 64px 0 !important;
  }

  .news-info-item {
    width: calc(280px + 40 * ((100vw - 1024px) / (1280 - 1024))) !important;
  }
}
@media screen and (max-width: 1024px) {
  .appartments-text {
    font-size: calc(40px + 12 * (100vw - 768px) / 256) !important;
  }

  .info-first_title {
    line-height: calc(42px + 6 * (100vw - 768px) / 256) !important;
    font-size: calc(30px + 10 * (100vw - 768px) / 256) !important;
  }

  .info-first_title {
    margin-top: calc(40px + 25 * (100vw - 768px) / 256) !important;
  }

  .developer-left_img {
    width: calc(150px + 141 * (100vw - 768px) / 256) !important;
    height: calc(150px + 141 * (100vw - 768px) / 256) !important;
  }

  .footer-map-list-item {
    margin-right: calc(24px + -8 * (100vw - 768px) / 256) !important;
  }

  .info-block {
    margin-top: calc(102px + 34 * ((100vw - 768px) / (1024 - 768))) !important;
  }

  .header-logo {
    width: 122px !important;
  }

  .header-contact_nav {
    margin-right: 33px !important;
  }

  .developer-right-info-text {
    width: calc(402px + 122 * (100vw - 768px) / 256) !important;
  }

  .news-header-title {
    text-transform: uppercase;
    font-size: calc(30px + 10 * (100vw - 768px) / 256) !important;
  }

  .apartments-header-title {
    font-size: calc(30px + 10 * (100vw - 768px) / 256) !important;
  }

  .apartments-info-item {
    width: calc(291px + 69 * (100vw - 768px) / 256) !important;
  }

  .apartments-info-container-img {
    width: calc(291px + 69 * (100vw - 768px) / 256) !important;
    height: 387px !important;
  }

  .apartments {
    margin: 26px 0 calc(102px + 22 * (100vw - 768px) / 256) 0 !important;
  }

  .apartments-info-item:nth-child(2) {
    margin-right: 0 !important;
  }
  .apartments-info-item:nth-child(3) {
    display: none !important;
  }

  .footer-top-left-title {
    font-size: calc(30px + 10 * (100vw - 768px) / 256) !important;
  }

  .footer-top {
    margin: 48px 0 calc(78px + -14 * (100vw - 768px) / 256) 0 !important;
  }

  .footer-top-right-number {
    margin-bottom: calc(20px + -4 * (100vw - 768px) / 256) !important;
  }

  .footer-top-right-site {
    margin-bottom: calc(20px + -4 * (100vw - 768px) / 256) !important;
  }

  .footer-top-right-contacts-item {
    width: calc(28px + -6 * (100vw - 768px) / 256) !important;
    height: calc(28px + -6 * (100vw - 768px) / 256) !important;
  }

  .footer-map-last-info-text {
    font-size: 11px !important;
  }

  .news-info-item {
    width: calc(270px + 130 * ((100vw - 768px) / (1024 - 768))) !important;
    padding: calc(32px + 8 * ((100vw - 768px) / (1024 - 768))) 24px !important;
  }
}
@media screen and (max-width: 1000px) {
  .footer-map {
    flex-direction: column !important;
  }

  .footer-map-createEyeTronic {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 768px) and (min-height: 1000px) {
  .appartments-text {
    margin-top: calc(83px + 71 * (100vw - 375px) / 393) !important;
  }
}
@media screen and (max-width: 768px) {
  .header-contact {
    display: none !important;
  }

  .developer-right-info-text {
    width: calc(343px + 59 * (100vw - 375px) / 393) !important;
  }

  .choose {
    margin-top: 16px !important;
    left: 0 !important;
  }

  .choose-link {
    margin-top: calc(32px + 10 * (100vw - 375px) / 393) !important;
  }

  .info-block_container {
    flex-direction: column !important;
  }

  .info-first {
    width: calc(252px + 235 * (100vw - 375px) / 393) !important;
  }

  .info-second {
    position: relative !important;
    width: calc(252px + 235 * (100vw - 375px) / 393) !important;
    margin-top: 16px;
  }

  .info-second_img {
    margin-left: calc(83px + 117 * (100vw - 375px) / 393) !important;
  }

  .appartments-text {
    margin-top: calc(90px + 64 * (100vw - 375px) / 393) !important;
  }

  .stepWork-container {
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .stepWork-text {
    width: 148px !important;
    font-size: 14px !important;
    margin-left: 0 !important;
    margin-top: 12px !important;
  }

  .footer-map-list {
    flex-wrap: wrap !important;
  }

  .developer {
    flex-direction: column !important;
  }

  .developer-right {
    align-items: center !important;
  }

  .developer-right-info {
    width: 100% !important;
    align-items: center !important;
  }

  .developer-right-info-text {
    width: 100% !important;
  }

  .developer-left {
    margin-right: 0 !important;
    margin-bottom: 32px !important;
  }

  .developer-left_img {
    width: calc(160px + -10 * (100vw - 375px) / 393) !important;
    height: calc(160px + -10 * (100vw - 375px) / 393) !important;
  }

  .developer-right-info-item {
    width: 100%;
  }

  .developer-right-info-item_down {
    width: 100px !important;
  }
  .developer-right-info-item_down:last-child {
    width: 100px !important;
  }

  .apartments-header-title {
    text-transform: uppercase !important;
    font-size: calc(24px + 6 * (100vw - 375px) / 393) !important;
  }

  .apartments-header {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .apartments-header-tool {
    margin-top: 24px;
  }

  .footer-top-left-btn_text {
    color: #CC9268 !important;
  }

  .footer-top-left-btn_img {
    background-color: #CC9268 !important;
  }

  .footer-top-left-title {
    font-size: 30px !important;
  }

  .footer-map-list-item:nth-child(odd) {
    display: flex !important;
    flex-basis: 50% !important;
  }

  .news-info-item {
    width: calc(284px + 27 * ((100vw - 375px) / (768 - 375))) !important;
  }

  .appartments-text {
    margin-top: calc(83px + 71 * ((100vw - 375px) / (768 - 375))) !important;
    font-size: calc(30px + 10 * ((100vw - 375px) / (768 - 375))) !important;
    line-height: calc(42px + 6 * ((100vw - 375px) / (768 - 375))) !important;
  }

  .choose-text {
    line-height: calc(21px + 7 * ((100vw - 375px) / (768 - 375))) !important;
  }

  .slider-numbers {
    display: none !important;
  }

  .slider-pin {
    bottom: 20px !important;
  }

  .mobile-menu-nav {
    height: calc(358px + 72 * ((100vw - 375px) / (768 - 375))) !important;
  }

  .mobile-menu-number {
    font-size: 24px !important;
  }

  .mobile-menu-footer-top-right-site {
    font-size: 20px !important;
  }

  .mobile-menu-footer {
    display: flex !important;
    flex-direction: column !important;
  }

  .mobile-menu-number {
    margin-bottom: 32px !important;
  }

  .mobile-menu-footer {
    height: 138px !important;
  }

  .mobile-menu-contact_nav {
    order: -2 !important;
  }

  .mobile-menu-footer-top-right-site {
    order: -1 !important;
  }

  .down {
    bottom: 20px !important;
  }

  .info-block {
    margin-top: calc(72px + 30 * ((100vw - 375px) / (768 - 375))) !important;
  }

  .info-first_title {
    font-size: 30px !important;
    line-height: 42px !important;
    margin-top: 40px !important;
  }

  .info-second_text {
    font-size: 15px !important;
    width: 100% !important;
    line-height: 21px !important;
  }
}
@media screen and (max-width: 550px) {
  .apartments-info {
    justify-content: center !important;
  }

  .apartments-info-item:nth-child(2) {
    display: none !important;
  }
  .apartments-info-item:nth-child(3) {
    display: none !important;
  }

  .footer-top {
    flex-direction: column !important;
  }

  .footer-top-right {
    margin-top: 32px !important;
    align-items: flex-start !important;
  }

  .footer-top-right-contacts-item:nth-child(1) {
    margin-left: 0 !important;
  }

  .footer-top-right-container {
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .footer-top-left {
    width: 100% !important;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
  }

  .footer-top-left-btn_text {
    display: none !important;
  }

  .footer-top-left-btn {
    width: 58px !important;
  }

  .footer-top-left-btn_img {
    margin-right: 0 !important;
  }

  .footer-top-left-title {
    margin-bottom: 0 !important;
  }

  .footer-map-list-item {
    margin-bottom: 16px !important;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leftSlide {
  0% {
    opacity: 0;
    margin-left: -200px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes rightSlide {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes topDown {
  0% {
    top: 0;
  }
  50% {
    transform: translateY(7px);
  }
  50% {
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
