@use 'sass:math'

@font-face
  font-family: "Optima Cyr"
  src: url("../../fonts/optima-cyr.woff") format("woff")

$inter: "Inter", sans-serif
$OptimaCyr: "Optima Cyr", sans-serif

$Braun: #412923
$Beige: #A19B8E
$Beige_light: #E9E6E0
$white: #FAF9F9
$Gold: #CC9268

@function resp($nextSize, $nowSize, $nextWidth, $nowWidth)
  $addSize: $nowSize - $nextSize
  $result: calc(#{$nextSize + px} + #{$addSize} * ((100vw - #{$nextWidth + px}) / (#{$nowWidth} - #{$nextWidth})))
  @return $result

.container-help
  width: 100%
  overflow-x: hidden
  display: flex
  justify-content: center

.container
  width: resp(1152, 1728, 1280, 1920)

.background
  display: flex
  justify-content: center
  width: 100%
  height: 100vh
  font-family: $inter
  transition: all 0.5s ease-in-out
  background-color: #4B3D3A
  background-position: center
  background-size: cover

  .header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: resp(74, 96, 1280, 1920)
    animation: opacity 2s

    a
      font-size: 0

    .header-logo
      width: resp(102, 157, 1280, 1920)
      height: auto

    .header-nav
      display: flex

      .header-nav_item
        margin-right: resp(16, 32, 1280, 1920)
        font-weight: 400
        list-style: none

        &:last-child
          margin-right: 0

        .nav-item_a
          text-decoration: none
          font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
          transition: all .15s ease-in-out
          border-bottom: 1px solid rgba(0, 0, 0, 0.0)

          &:hover
            color: $Gold

    .header-contact-container
      display: flex

      .header-contact
        display: flex
        align-items: center

        .header-contact_nav
          display: flex
          justify-content: space-between
          width: calc(88px + (128 - 88) * ((100vw - 1280px) / (1920 - 1280)))
          margin-right: calc(17px + (42 - 17) * ((100vw - 1280px) / (1920 - 1280)))

          .contact-nav_a
            line-height: 0

            .contact-nav_img
              width: calc(22px + (30 - 22) * ((100vw - 1280px) / (1920 - 1280)))


        .contact-number
          text-decoration: none
          font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
          transition: all .15s ease-in-out
          border-bottom: 1px solid rgba(0, 0, 0, 0.0)

          &:hover
            color: $Gold

    .mobile-menu-btn
      position: relative
      justify-content: flex-end
      align-items: center
      width: 20px
      display: none
      background-color: rgba(0, 0, 0, 0)
      height: 18px
      cursor: pointer

      .mobile-menu-burger
        content: ''
        background-color: $white
        width: 12px
        height: 2px

        &:after
          content: ''
          position: absolute
          top: 0
          right: 0
          background-color: $white
          width: 20px
          height: 2px

        &:before
          content: ''
          position: absolute
          bottom: 0
          right: 0
          background-color: $white
          width: 20px
          height: 2px

  .content
    position: relative
    margin-top: 32px
    display: flex
    flex-direction: column

    .stepWork
      display: flex
      justify-content: flex-end
      align-items: center
      animation: rightSlide 1s

      .stepWork-container
        display: flex
        align-items: center

      .stepWork-img
        padding: 15px
        border-radius: 500%
        border: 6px solid rgba(0, 0, 0, 0.3)
        background-color: $white
        transition: all .1s ease-in-out
        cursor: pointer

      .stepWork-text
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        line-height: 21.6px
        font-family: $OptimaCyr
        margin-left: 12px
        width: calc(116px + (149 - 116) * ((100vw - 1280px) / (1920 - 1280)))
        cursor: pointer

    .appartments
      animation: leftSlide 1s
      
      .appartments-text
        font-size: calc(52px + (64 - 52) * ((100vw - 1280px) / (1920 - 1280)))
        font-weight: 400
        line-height: calc(62.4px + (76.4 - 62.4) * ((100vw - 1280px) / (1920 - 1280)))
        font-family: $OptimaCyr
        margin-top: calc(126px + (211 - 126) * ((100vw - 1280px) / (1920 - 1280)))
        display: flex
        flex-direction: column

    .choose
      display: flex
      position: relative
      flex-direction: column
      width: calc(350px + (410 - 350) * ((100vw - 1280px) / (1920 - 1280)))
      margin-top: calc(94px + (122 - 94) * ((100vw - 1280px) / (1920 - 1280)))
      left: calc(668px + (1170 - 668) * ((100vw - 1280px) / (1920 - 1280)))

      .choose-container
        width: 100%
        animation: rightSlide 1s
      
        .choose-text
          width: 410px
          font-size: calc(20px + (24 - 20) * ((100vw - 1280px) / (1920 - 1280)))
          line-height: 33.6px

        .choose-link
          display: flex
          align-items: center
          margin-top: resp(16, 32, 1280, 1920)
          line-height: calc(28px + (33.6 - 28) * ((100vw - 1280px) / (1920 - 1280)))
          cursor: pointer

          &:hover > .choose-link-img
            background-color: $Gold
            border-color: $Gold

          .choose-link-img
            padding: 23px 17px
            border-radius: 500%
            border: 6px solid rgba(0, 0, 0, 0.3)
            background-color: $white
            transition: all .1s ease-in-out

          .choose-link-text
            font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
            margin-left: 16px

  .down
    position: absolute
    height: 45px
    bottom: resp(32, 48, 1280, 1920)

    .arrowDown
      display: flex
      justify-content: center
      width: 90vw
      animation: opacity 1s

      .arrowDown-img
        animation: topDown 2s infinite
        cursor: pointer

    .slider-numbers
      position: relative
      width: 34px
      bottom: resp(110, 130, 1280, 1920)
      animation: opacity 1s

      .slider-numbers-container
        position: relative
        left: -34px
        width: 88px
        height: 34px
        transform: rotate(-90deg)

.slider-number-span
          font-family: $OptimaCyr
          width: 200px
          font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)))

    .slider-pin
      position: relative
      width: 84px
      height: 20px
      display: flex
      justify-content: space-between
      align-items: center
      bottom: 46px
      animation: opacity 1s

      .slider-pin-item
        list-style: none
        width: 8px
        height: 8px
        background-color: $white
        border-radius: 500%
        cursor: pointer
        transition: border .1s ease-in-out

        &:hover
          background-color: $Beige_light

      .slider-pin-item_active
        margin: -6px
        border: 6px solid rgba(0, 0, 0, 0.3)

.info-block
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%
  margin-bottom: 140px
  font-family: $inter

  .info-block_container
    display: flex
    width: 100%
    justify-content: space-between
    margin-top: 184px
  
    .info-first
      width: calc(644px + (853 - 644) * ((100vw - 1280px) / (1920 - 1280)))
      margin-right: calc(115px + (311 - 115) * ((100vw - 1280px) / (1920 - 1280)))

      .info-first_img
        width: 100%

      .info-first_title
        font-size: calc(40px + (52 - 40) * ((100vw - 1280px) / (1920 - 1280)))
        font-family: $OptimaCyr
        width: 524px
        margin-top: calc(74px + (96 - 74) * ((100vw - 1280px) / (1920 - 1280)))
        color: #412923

    .info-second
      width: calc(360px + (563 - 360) * ((100vw - 1280px) / (1920 - 1280)))

      .info-second_text
        margin-bottom: calc(50px + (66 - 50) * ((100vw - 1280px) / (1920 - 1280)))
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        line-height: calc(21px + (25 - 21) * ((100vw - 1280px) / (1920 - 1280)))
        color: #412923

      .info-second_img
        width: 100%


.seven-problems-block
  width: 100%
  display: flex
  align-items: flex-end
  flex-direction: column

  .seven-problems
    margin-top: 60px
    position: relative
    width: calc(645px + (1145 - 645) * ((100vw - 1280px) / (1920 - 1280)))

    .right-block_seven
      font-family: $OptimaCyr
      color: $Gold
      font-size: calc(80px + (104 - 80) * ((100vw - 1280px) / (1920 - 1280)))

    .right-block_title
      font-family: $OptimaCyr
      color: $Braun
      font-size: calc(40px + (52 - 40) * ((100vw - 1280px) / (1920 - 1280)))
      font-weight: 400
      margin-bottom: calc(56px + (64 - 56) * ((100vw - 1280px) / (1920 - 1280)))

  .slider-block
    font-family: $inter
    display: flex
    width: 100%
    justify-content: space-between

    .left-block
      position: relative
      width: calc(359px + (418 - 359) * ((100vw - 1280px) / (1920 - 1280)))
      height: calc(619px + (718 - 619) * ((100vw - 1280px) / (1920 - 1280)))

      .left-block_title
        font-family: $OptimaCyr
        color: $Beige
        font-size: calc(24px + (30 - 24) * ((100vw - 1280px) / (1920 - 1280)))
        margin-bottom: 24px

      .left-block_paragraph
        color: $Braun
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))

      .left-block-slider-count
        transform: rotate(-90deg)
        position: absolute
        bottom: 30px
        right: -20px

        .left-block-slider-count_text
          font-family: $OptimaCyr
          font-size: 30px
          color: $Beige


      .left-block-slider-buttons
        position: absolute
        bottom: 0

        .slider-btn
          padding: 23px 18px
          border: 1px solid $Beige_light
          border-radius: 500%
          cursor: pointer
          transition: all .1s ease-in-out

          &:hover
            background-color: $Gold

        .left-block-slider-buttons-left
          transform: rotate(180deg)
          margin-right: 36px


    .right-block
      position: relative
      overflow: hidden
      width: calc(645px + (1145 - 645) * ((100vw - 1280px) / (1920 - 1280)))

      .right-block-slider
        position: absolute
        width: calc(437px * 9)
        transition: all 0.5s ease-in-out

        .right-block-slider-item
          position: relative
          width: calc(360px + (417 - 360) * ((100vw - 1280px) / (1920 - 1280)))
          height: calc(619px + (718 - 619) * ((100vw - 1280px) / (1920 - 1280)))
          margin-right: 20px


.developer
  width: 100%
  display: flex
  align-items: center
  margin: calc(152px + (184 - 152) * ((100vw - 1280px) / (1920 - 1280))) 0
  font-family: $inter

  .developer-left
    margin-right: calc(115px + (166 - 115) * ((100vw - 1280px) / (1920 - 1280)))

    .developer-left_img
      width: calc(360px + (417 - 360) * ((100vw - 1280px) / (1920 - 1280)))
      height: calc(360px + (417 - 360) * ((100vw - 1280px) / (1920 - 1280)))

  .developer-right
    display: flex
    width: 1000px
    flex-direction: column

    .developer-right_title
      font-family: $OptimaCyr
      font-size: calc(24px + (30 - 24) * ((100vw - 1280px) / (1920 - 1280)))
      margin-bottom: 32px
      color: $Braun

    .developer-right-info
      display: flex

      .developer-right-info-text
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        color: $Braun
        width: 524px
        margin-right: 20px

      .developer-right-container
        display: flex

        .developer-right-info-item
          display: flex
          flex-direction: column
          align-items: flex-start
          width: 100px
          margin-left: 45px

          .developer-right-info-item_text
            font-family: $OptimaCyr
            margin-bottom: 8px
            font-size: calc(24px + (30 - 24) * ((100vw - 1280px) / (1920 - 1280)))
            color: $Braun

            .item_slash
              font-family: $OptimaCyr
              font-size: calc(24px + (30 - 24) * ((100vw - 1280px) / (1920 - 1280)))
              color: $Gold

          .developer-right-info-item_down
            margin-left: 18px
            width: 200px
            font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
            color: $Braun



.map-background
  position: relative
  width: 100%
  height: 100vh
  background-image: url('../../img/Map.png')
  background-position: center
  background-size: cover
  display: flex
  justify-content: center

  .map-top
    position: relative
    top: 80px


  .map-nav
    width: 150px


    .map-nav-item
      list-style: none
      margin-bottom: 16px
      width: auto
      font-family: $OptimaCyr
      font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)))
      font-weight: 400
      color: $white
      cursor: pointer

      &:hover
        color: $Gold


  .map-bottom
    position: absolute
    bottom: 58px

    .map-bottom-title
      display: flex
      flex-direction: column
      font-family: $OptimaCyr
      font-size: calc(32px + (48 - 32) * ((100vw - 1280px) / (1920 - 1280)))
      font-weight: 400
      color: $white

      .map-bottom-title_gold
        font-family: $OptimaCyr
        font-size: calc(52px + (64 - 52) * ((100vw - 1280px) / (1920 - 1280)))
        color: $Gold



.news
  width: 100%
  margin: calc(158px + (186 - 158) * ((100vw - 1280px) / (1920 - 1280))) 0
  font-family: $inter

  .news-header
    display: flex
    align-items: center
    justify-content: space-between

    .news-header-title
      font-family: $OptimaCyr
      font-weight: 400
      font-size: calc(40px + (52 - 40) * ((100vw - 1280px) / (1920 - 1280)))
      color: $Braun

    .news-header-tool
      position: relative

      .news-header-tool-buttons-left
        transform: rotate(-180deg)
        margin-right: 36px
        padding: 23px 18px
        border: 1px solid $Beige_light
        border-radius: 500%
        cursor: pointer
        transition: all .1s ease-in-out

        &:hover
          background-color: $Gold

      .news-header-tool-buttons-right
        padding: 23px 18px
        border: 1px solid $Beige_light
        border-radius: 500%
        cursor: pointer
        transition: all .1s ease-in-out

        &:hover
          background-color: $Gold

  .news-info-container


    .news-info
      display: flex
      margin-top: calc(24px + (64 - 24) * ((100vw - 1280px) / (1920 - 1280)))
      justify-content: space-between

      .news-info-item
        display: flex
        flex-direction: column
        padding: calc(40px + (48 - 40) * ((100vw - 1280px) / (1920 - 1280))) calc(24px + (40 - 24) * ((100vw - 1280px) / (1920 - 1280)))
        width: 467px
        margin-right: 20px
        height: 155px
        border: 1px solid $Beige_light
        cursor: pointer

        &:hover
          border-color: $Gold

        &:last-child
          margin-right: 0

        .news-info-time
          font-size: calc(13px + (15 - 13) * ((100vw - 1280px) / (1920 - 1280)))
          font-weight: 400
          margin-bottom: 24px
          color: $Beige

        .news-info-item-title
          font-family: $OptimaCyr
          font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)))
          font-weight: 400
          margin-bottom: 8px
          color: $Gold

        .news-info-item-description
          font-weight: 400
          font-size: calc(13px + (15 - 13) * ((100vw - 1280px) / (1920 - 1280)))
          color: $Braun



.apartments
  width: 100%
  margin: 26px 0 calc(152px + (184 - 152) * ((100vw - 1280px) / (1920 - 1280))) 0
  font-family: $inter

  .apartments-header
    display: flex
    justify-content: space-between
    align-items: flex-end

    .apartments-header-title
      font-size: calc(40px + (52 - 40) * ((100vw - 1280px) / (1920 - 1280)))
      color: $Braun
      font-weight: 400
      font-family: $OptimaCyr

    .apartments-header-tool
      display: flex
      align-items: center
      cursor: pointer

      &:hover > .apartments-header-tool-buttons-right
        background-color: $Gold

      .apartments-header-tool-buttons-right
        padding: 23px 18px
        border: 1px solid $Beige_light
        border-radius: 500%
        transition: all .1s ease-in-out
        margin-right: 16px


      .apartments-header-tool-text
        font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)))
        color: $Braun
        font-weight: 400
        font-family: $OptimaCyr

  .apartments-info-container

    .apartments-info
      display: flex
      margin-top: calc(24px + (64 - 24) * ((100vw - 1280px) / (1920 - 1280)))
      flex-wrap: wrap

      .apartments-info-item
        display: flex
        flex-direction: column
        align-items: center
        width: calc(360px + (417 - 360) * ((100vw - 1280px) / (1920 - 1280)))
        border-bottom: 1px solid $Beige_light
        margin-right: 20px
        cursor: pointer

        &:last-child
          margin-right: 0

        .apartments-info-container-img
          display: flex
          justify-content: center
          align-items: center
          width: calc(360px + (417 - 360) * ((100vw - 1280px) / (1920 - 1280)))
          height: calc(387px + (448 - 387) * ((100vw - 1280px) / (1920 - 1280)))

          .apartments-info-img
            width: calc(213px + (247 - 213) * ((100vw - 1280px) / (1920 - 1280)))
            height: calc(290px + (337 - 290) * ((100vw - 1280px) / (1920 - 1280)))
            margin-bottom: 8px
            transition: all 0.3s ease-in-out

            &:hover
              transform: scale(1.1)

        .apartments-info-price
          font-size: calc(24px + (30 - 24) * ((100vw - 1280px) / (1920 - 1280)))
          color: $Braun
          font-weight: 400
          margin-bottom: 8px
          font-family: $OptimaCyr

        .apartments-info-apart
          font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
          color: $Braun
          margin-bottom: calc(24px + (32 - 24) * ((100vw - 1280px) / (1920 - 1280)))
          font-weight: 400

          .apartments-info-apart_roof
            font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
            color: $Beige
            font-weight: 400




.footer
  width: 100%
  background-color: $Braun
  display: flex
  justify-content: center
  font-family: $inter

  .footer-top
    margin: calc(48px + (80 - 48) * ((100vw - 1280px) / (1920 - 1280))) 0 calc(64px + (88 - 64) * ((100vw - 1280px) / (1920 - 1280))) 0
    display: flex
    justify-content: space-between

    .footer-top-left-title
      font-size: calc(40px + (52 - 40) * ((100vw - 1280px) / (1920 - 1280)))
      color: $Beige_light
      font-weight: 400
      margin-bottom: calc(28px + (40 - 28) * ((100vw - 1280px) / (1920 - 1280)))
      font-family: $OptimaCyr

    .footer-top-left-btn
      display: flex
      width: calc(350px + (350 - 350) * ((100vw - 1280px) / (1920 - 1280)))
      align-items: center
      cursor: pointer

      &:hover > .footer-top-left-btn_img
        background-color: $Gold

      .footer-top-left-btn_img
        padding: 17px
        border-radius: 500%
        margin-right: 16px
        background-color: $white
        cursor: pointer

      .footer-top-left-btn_text
        font-size: calc(18px + (24 - 18) * ((100vw - 1280px) / (1920 - 1280)))

  .footer-top-right
    display: flex
    flex-direction: column
    align-items: flex-end

    .footer-top-right-container
      width: 100%
      display: flex
      flex-direction: column

      .footer-top-right-number
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        color: $Beige_light
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 1280px) / (1920 - 1280)))
        text-decoration: none
        font-weight: 400

        &:hover
          color: $Gold

      .footer-top-right-site
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        color: $Beige_light
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 1280px) / (1920 - 1280)))
        text-decoration: none
        font-weight: 400

        &:hover
          color: $Gold

    .footer-top-right-contacts
      display: flex
      //width: calc(113px + (124 - 113) * ((100vw - 1280px) / (1920 - 1280)))
      justify-content: flex-end

      .footer-top-right-contacts-item
        margin-left: 19px
        width: calc(21px + (28 - 21) * ((100vw - 1280px) / (1920 - 1280)))
        height: calc(21px + (28 - 21) * ((100vw - 1280px) / (1920 - 1280)))
        cursor: pointer


  .footer-map
    display: flex
    justify-content: space-between
    width: 100%
    padding: 32px 0
    border-top: 1px solid #4B3D3A
    border-bottom: 1px solid #4B3D3A

    .footer-map-list
      display: flex
      list-style: none
      
      .footer-map-list-item
        margin-right: 32px

        a
          font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
          text-decoration: none

          &:hover
            color: $Gold

    .footer-map-createEyeTronic
      font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
      color: $Beige
      font-weight: 400

      .footer-map-createEyeTronic_style
        font-size: calc(15px + (18 - 15) * ((100vw - 1280px) / (1920 - 1280)))
        cursor: pointer

        &:hover
          color: $Gold


  .footer-map-last-info
    margin: calc(24px + (32 - 24) * ((100vw - 1280px) / (1920 - 1280))) 0

    .footer-map-last-info-text
      font-size: calc(11px + (15 - 11) * ((100vw - 1280px) / (1920 - 1280)))
      color: $Beige
      font-weight: 400




.mobile-menu
  position: fixed
  width: 100%
  height: 100vh
  background-color: $Beige_light
  opacity: 0
  font-family: $inter
  z-index: 2
  transition: opacity 2s ease-in-out
  animation: opacity 0.5s ease-in-out

  .mobule-menu-container
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100vh
    width: calc(1152px + (1728 - 1152) * ((100vw - 1280px) / (1920 - 1280)))

    .mobile-menu-header
      position: relative
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      height: 100px

      .mobile-menu-logo

      .mobile-menu-container-close
        display: flex
        justify-content: center
        align-items: center
        width: 50px
        height: 50px
        cursor: pointer

        .mobile-menu-close
          content: ''
          background-color: $Braun
          transform: rotate(45deg)
          width: 20px
          height: 2px

          &:after
            content: ''
            position: absolute
            transform: rotate(-90deg)
            top: 0
            right: 0
            background-color: $Braun
            width: 20px
            height: 2px

    .mobile-menu-nav
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      height: 430px

      .mobile-menu-nav_item
        list-style: none

        .nav-item_a
          color: $Braun
          font-size: 24px
          font-family: $OptimaCyr
          text-transform: uppercase
          text-decoration: none

          &:hover
            color: $Gold

    .mobile-menu-footer
      width: 100%
      display: flex
      height: 100px
      align-items: center
      justify-content: space-between

      .mobile-menu-number
        font-size: 15px
        color: $Braun
        text-decoration: none

        &:hover
          color: $Gold

      .mobile-menu-contact_nav
        width: 118px
        display: flex
        justify-content: space-between

        .mobile-menu-contact-nav_a

          .mobile-menu-contact-nav_img

      .footer-top-right-site
        font-size: 15px
        text-decoration: none
        color: $Braun

        &:hover
          color: $Gold


@media screen and (max-width: 1919px)

  .apartments-info
    justify-content: space-between !important

  .apartments-info-item


    &:last-child
      display: none !important



@media screen and (max-width: 1780px)

  .developer-right-info
    flex-direction: column !important

  .developer-right-container
    justify-content: space-between
    width: 100% !important
    margin-top: 24px !important
    margin-left: 0 !important

  .developer-right-info-item
    margin-left: 0 !important
    margin-right: 16px !important

    &:last-child
      margin-right: 0 !important
      width: 150px !important

  .developer-right-info-text
    width: auto !important

  .developer-right-info-item_down
    width: 100% !important

  .developer-right
    max-width: 900px !important
    width: 100% !important



@media screen and (max-width: 1280px)

  .header
    margin-top: 12px !important

  .appartments-text
    font-size: calc(40px + (52 - 40) * ((100vw - 1024px) / (1280 - 1024))) !important
    margin-top: calc(109px + (126 - 109) * ((100vw - 1024px) / (1280 - 1024))) !important

  .choose-link-img
    border: 0 !important

  .header-logo
    width: calc(122px + (102 - 122) * ((100vw - 1024px) / (1280 - 1024))) !important

  .choose
    left: calc(524px + (668 - 524) * ((100vw - 1024px) / (1280 - 1024))) !important

  .choose-link-text
    font-size: 18px !important

  .contact-number
    font-size: 15px !important
    margin-right: 40px !important

  .header-contact_nav
    width: 88px !important

  .header-nav
    display: none !important

  .mobile-menu-btn
    display: flex !important

  .info-first
    width: calc(547px + (644 - 547) * ((100vw - 1024px) / (1280 - 1024))) !important

  .info-second
    width: calc(291px + (360 - 291) * ((100vw - 1024px) / (1280 - 1024))) !important

  .developer-right_title
    font-size: 24px !important

  .developer-right-info-text
    font-size: 15px !important
    margin-right: 0 !important

  .developer-right-info-item_text
    font-size: 24px !important

  .item_slash
    font-size: 24px !important

  .developer-right-info-item_down
    font-size: 15px !important

  .info-first_title
    line-height: 48px !important
    font-size: 40px !important

  .developer-left_img
    width: calc(291px + (360 - 291) * ((100vw - 1024px) / (1280 - 1024))) !important
    height: calc(291px + (360 - 291) * ((100vw - 1024px) / (1280 - 1024))) !important

  .footer-map-list-item
    margin-right: calc(16px + (32 - 16) * ((100vw - 1024px) / (1280 - 1024))) !important

    a
      font-size: 15px !important

  .header-contact_nav
    margin-right: calc(33px + (17 - 33) * ((100vw - 1024px) / (1280 - 1024))) !important

  .contact-nav_img
    width: 22px !important

  .slider-number-span
    font-size: 18px !important

  .slider-numbers
    bottom: 110px !important

  .news-info
    margin-top: 24px !important

  .news-info-item

    &:last-child
      display: none !important

    &:nth-child(2)
      margin-right: 0 !important

  .news-header-title
    font-size: 40px !important

  .news-info-time
    font-size: 13px !important

  .news-info-item-title
    font-size: 18px !important

  .news-info-item-description
    font-size: 13px !important

  .apartments-info
    margin-top: 24px !important

  .apartments-header-title
    font-size: 40px !important

  .apartments-header-tool-text
    font-size: 18px !important

  .apartments-info-item
    margin-right: 0 !important
    width: calc(291px + (360 - 291) * ((100vw - 1024px) / (1280 - 1024))) !important

  .apartments-info-container-img
    width: calc(291px + (360 - 291) * ((100vw - 1024px) / (1280 - 1024))) !important
    height: 387px !important

  .apartments
    margin: 26px 0 calc(124px + (152 - 124) * ((100vw - 1024px) / (1280 - 1024))) 0

  .footer-top-left-title
    font-size: 40px !important

  .footer-top-left-btn_text
    font-size: 18px !important



  .footer-top-right-number,
  .footer-top-right-site
    font-size: 15px !important
    margin-bottom: 16px !important

  .footer-top-right-contacts-item
    width: 22px !important
    height: 22px !important

  .footer-top
    margin: 48px 0 64px 0 !important






@media screen and (max-width: 1024px)

  .appartments-text
    font-size: calc(40px + (52 - 40) * ((100vw - 768px) / (1024 - 768))) !important

  .info-first_title
    line-height: calc(42px + (48 - 42) * ((100vw - 768px) / (1024 - 768))) !important
    font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1024 - 768))) !important

  .info-first_title
    margin-top: calc(40px + (65 - 40) * ((100vw - 768px) / (1024 - 768))) !important

  .developer-left_img
    width: calc(150px + (291 - 150) * ((100vw - 768px) / (1024 - 768))) !important
    height: calc(150px + (291 - 150) * ((100vw - 768px) / (1024 - 768))) !important

  .footer-map-list-item
    margin-right: calc(24px + (16 - 24) * ((100vw - 768px) / (1024 - 768))) !important

  .header-logo
    width: 122px !important

  .header-contact_nav
    margin-right: 33px !important

  .developer-right-info-text
    width: calc(402px + (524 - 402) * ((100vw - 768px) / (1024 - 768))) !important

  .news-header-title
    text-transform: uppercase
    font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1024 - 768))) !important

  .apartments-header-title
    font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1024 - 768))) !important

  .apartments-info-item
    width: calc(291px + (360 - 291) * ((100vw - 768px) / (1024 - 768))) !important

  .apartments-info-container-img
    width: calc(291px + (360 - 291) * ((100vw - 768px) / (1024 - 768))) !important
    height: 387px !important

  .apartments
    margin: 26px 0 calc(102px + (124 - 102) * ((100vw - 768px) / (1024 - 768))) 0 !important

  .apartments-info-item

    &:nth-child(2)
      margin-right: 0 !important

    &:nth-child(3)
      display: none !important

  .footer-top-left-title
    font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1024 - 768))) !important

  .footer-top
    margin: 48px 0 calc(78px + (64 - 78) * ((100vw - 768px) / (1024 - 768))) 0 !important

  .footer-top-right-number
    margin-bottom: calc(20px + (16 - 20) * ((100vw - 768px) / (1024 - 768))) !important

  .footer-top-right-site
    margin-bottom: calc(20px + (16 - 20) * ((100vw - 768px) / (1024 - 768))) !important

  .footer-top-right-contacts-item
    width: calc(28px + (22 - 28) * ((100vw - 768px) / (1024 - 768))) !important
    height: calc(28px + (22 - 28) * ((100vw - 768px) / (1024 - 768))) !important

  .footer-map-last-info-text
    font-size: 11px !important




@media screen and (max-width: 1000px)
  .footer-map
    flex-direction: column !important

  .footer-map-createEyeTronic
    margin-top: 20px !important


@media screen and (max-width: 768px) and (min-height: 1000px)

  .appartments-text
    margin-top: calc(83px + (154 - 83) * ((100vw - 375px) / (768 - 375))) !important


@media screen and (max-width: 768px)

  .header-contact
    display: none !important

  .developer-right-info-text
    width: calc(343px + (402 - 343) * ((100vw - 375px) / (768 - 375))) !important


  .choose
    margin-top: 16px !important
    left: 0 !important

  .choose-link
    margin-top: calc(32px + (42 - 32) * ((100vw - 375px) / (768 - 375))) !important

  .info-block_container
    flex-direction: column !important

  .info-first
    width: calc(252px + (487 - 252) * ((100vw - 375px) / (768 - 375))) !important

  .info-second
    position: relative !important
    width: calc(252px + (487 - 252) * ((100vw - 375px) / (768 - 375))) !important
    margin-top: 16px

  .info-second_img
    margin-left: calc(83px + (200 - 83) * ((100vw - 375px) / (768 - 375))) !important

  .appartments-text
    margin-top: calc(90px + (154 - 90) * ((100vw - 375px) / (768 - 375))) !important

  .stepWork-container
    align-items: center !important
    justify-content: center !important
    flex-direction: column !important

  .stepWork-text
    width: 148px !important
    font-size: 14px !important
    margin-left: 0 !important
    margin-top: 12px !important

  .footer-map-list
    flex-wrap: wrap !important

  .developer
    flex-direction: column !important

  .developer-right
    align-items: center !important

  .developer-right-info
    width: 100% !important
    align-items: center !important

  .developer-right-info-text
    width: 100% !important

  .developer-left
    margin-right: 0 !important
    margin-bottom: 32px !important

  .developer-left_img
    width: calc(160px + (150 - 160) * ((100vw - 375px) / (768 - 375))) !important
    height: calc(160px + (150 - 160) * ((100vw - 375px) / (768 - 375))) !important

  .developer-right-info-item
    width: 100%

  .developer-right-info-item_down
    width: 100px !important

    &:last-child
      width: 100px !important

  .apartments-header-title
    text-transform: uppercase !important
    font-size: calc(24px + (30 - 24) * ((100vw - 375px) / (768 - 375))) !important

  .apartments-header
    flex-direction: column !important
    align-items: flex-start !important

  .apartments-header-tool
    margin-top: 24px

  .footer-top-left-btn_text
    color: $Gold !important

  .footer-top-left-btn_img
    background-color: $Gold !important

  .footer-top-left-title
    font-size: 30px !important

  .footer-map-list-item

    &:nth-child(odd)
      display: flex !important
      flex-basis: 50% !important



@media screen and (max-width: 550px)

  .apartments-info
    justify-content: center !important

  .apartments-info-item

    &:nth-child(2)
      display: none !important

    &:nth-child(3)
      display: none !important

  .footer-top
    flex-direction: column !important

  .footer-top-right
    margin-top: 32px !important
    align-items: flex-start !important

  .footer-top-right-contacts-item

    &:nth-child(1)
      margin-left: 0 !important

  .footer-top-right-container
    flex-direction: row !important
    justify-content: space-between !important

  .footer-top-left
    width: 100% !important
    align-items: center !important
    justify-content: space-between !important
    display: flex !important

  .footer-top-left-btn_text
    display: none !important

  .footer-top-left-btn
    width: 58px !important

  .footer-top-left-btn_img
    margin-right: 0 !important

  .footer-top-left-title
    margin-bottom: 0 !important

  .footer-map-list-item
    margin-bottom: 16px !important





@keyframes opacity
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes leftSlide
  0%
    opacity: 0
    margin-left: -200px

  100%
    opacity: 1
    margin-left: 0

@keyframes rightSlide
  0%
    opacity: 0
    margin-right: -100px

  100%
    opacity: 1
    margin-left: 0


@keyframes topDown
  0%
    top: 0

  50%
    transform: translateY(7px)

  50%
    top: 0

